<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %> has subscribed to your project <%= @project.name %>!</h1>
    <p>
     You can view <%= @user.name %>'s profile 
			<a href="http://www.loopinloopout.com/<%= @user.name %>">here</a>
    </p>
  </body>
</html>