<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<table style="border: 1px white solid;">
				<tr style="padding: 10px;border: 1px white solid;">
					<td style="border: 1px white solid;padding: 5px;width: 50px;background-color: grey;color:black">LOOP.IN</td>
					<td style="border: 1px white solid;padding: 5px;width: 200px;background-color: #808000;color:white">LOOP.OUT</td>
				</tr>
	</table>
    <h1><%= @following_luser.name %> has started following you!</h1>
    <p>
     You can view <%= @following_luser.name %>'s profile 
			<a href="http://www.loopinloopout.com/<%= @following_luser.name %>">here</a>
    </p>
  </body>
</html>