<ul class="nav nav-tabs">
	<li id="tab_bank">
	    <a href="/<%= user %>/banks">All</a>
	</li>
	<li id="tab_browse">
		<a href="/<%= user %>/banks/browse">Browse</a>
	</li>
	<li id="tab_new">
		<a href="/<%= user %>/banks/new">New Bank</a>
	</li>
</ul>