<ul class="nav nav-tabs">
	<li id="tab_bank">
	    <a href="/<%= current_user.luser.name %>/banks">All</a>
	</li>
	<li id="tab_browse">
		<a href="/<%= current_user.luser.name %>/banks/browse">Browse</a>
	</li>
	<% if @user == current_user.luser.name %> 
	<li id="tab_new">
		<a href="/<%= current_user.luser.name %>/banks/new">New Bank</a>
	</li>
	<% end %>
</ul>