<ul class="nav nav-tabs">
	<li id="tab_bank">
	    <a href="/<%= @user_name %>/banks">All</a>
	</li>
	<li id="tab_browse">
		<a href="/<%= @user_name %>/banks/browse">Browse</a>
	</li>
	<% if user_signed_in? %>
	<% if @user_name == current_user.luser.name %> 
	<li id="tab_new">
		<a href="/<%= current_user.luser.name %>/banks/new">New Bank</a>
	</li>
	<% end %>
	<% end%>
</ul>