
<div class="page">
	<%= link_to("add", new_bank_path )%>
	<% @banks.each do |bank| %>
		<h4><%= link_to("username/" + bank.name, bank) %></h4>
		<div>
			<p><%= bank.description %></p>
		</div>
		<div><i>Last updated: <%= time_ago_in_words(bank.updated_at.to_s, true) %></i></div>
	<% end %>
</div>