<div class="page">
	<%= render :partial => "navigation", :locals => { :user => @user } %>
	
	<% @luser_banks.each do |lbank| %>
		<h4><%= link_to(lbank.luser.name + "/" + lbank.bank.name, bank_path(@user, lbank.bank)) %></h4>
		<div>
			<p><%= lbank.bank.description %></p>
		</div>
		<div><i>Last updated: <%= time_ago_in_words(lbank.bank.updated_at.to_s, true) %></i></div>
	<% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_bank").addClass('active');
});
</script>
