<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user_name } %>
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user_name } %>
<%= render 'form' %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_new").addClass('active');
});
</script>