<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user } %>
<%= render 'form' %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_new").addClass('active');
});
</script>