<div class="page">
<h4>Notifications</h4>

<% @notifications.each do |notification| %>
  <div>
	<div style="float:left;width:100px;"><%= time_ago_in_words(notification.created_at) %> </div>
	<div style="float:left;"> <%= notification.message.html_safe %></div>
	<br style="clear:both;" />
  </div>
<% end %>


</div>

