<% if followers.empty? %>
No Followers
<% end %>
<div>
<% followers.each do | user |%>
<div>
	<a href="/<%= user.name %>">
		<% if user.profile_file_name == nil %>
		<img src="http://127.0.0.1:3000/assets/glyphicons_003_user.png">
		<% else %>
		<img src="http://127.0.0.1:3000<%= user.profile.url(:thumb) %>">
		<% end %>
	</a>
	<%= user.name %>
</div>
<% end %>
</div>