<div class="page">
	<div >
		<h4>0 Projects, 0 Banks, 0 Lusers</h3> 
		<form class="form-search">
			  <input type="text" class="input-medium search-query">
			  <button type="submit" class="btn">Search</button>
		</form>
	</div>
	<div>
		<b>LILO</b> <i>/'lüp, in, lüp, au̇t /</i>
		<p>
			LILO is the best way to collaborate with Musicians, Producers, and Sample junkies.
			Create and share sound banks, host a remix challenge, need help finishing a track, or simply want to show your work. 
		</p>
	</div>
	<div class="intro">
		<div style="float:left;width:300px;">
		<div>
		<h3>Projects</h3>
		</div>
		<p>
			Projects allow you to find people to collaborate with, ask people to remix your tracks, host remix challenges
		</p>
		</div>
		
		<div style="float:left;width:300px;">
		<div>
		<h3>Banks</h3>
		</div>
		<p>
			Banks can be created that allow you to upload and share loops, samples, and sounds created in your soft synths, DAW, and 
			various music software.
		</p>
		</div>
		
		<div style="float:left;width:300px;">
		<div>
		<h3>Lusers</h3>
		</div>
		<p>
			When you sign up you be come LILO user (Luser) for short, don't worry here it is cool to be Luser.
		</p>
		</div>
	</div>
</div>