<div class="page" style="width: 98%;margin: 0px auto;">
	<div <div class="hero-unit">
		<table style="border: none;">
			<tr style="padding: 10px;">
			<td style="border: 2px black solid;padding: 5px;width: 50px;background-color: grey;color:black"><h1>LI</h1></td>
			<td style="border: 2px black solid;padding: 5px;width: 50px;background-color: #808000;color:white"><h1>LO</h1></td> 
			<td style="border: 0px; padding: 10px;"><h1> <small> /'lüp, in, lüp, au̇t /</small></h1></td>
			</tr>
		</table>
		<p>
			LILO is the best way to collaborate with Musicians, Producers, and Sample junkies.
			Create and share sound banks, host a remix challenge, need help finishing a track, or simply want to show your work. 
		</p>
		<a class="btn btn-large">
	      Become a Luser
	    </a>
	</div>
	<div class="intro" style="text-align:center;">
		<div style="float:left;width:280px;text-align:center;margin-left:20px;">
		
		<div style="border: 1px black solid;background-color: grey;color:black">
			<h3><img src="http://127.0.0.1:3000/assets/glyphicons_076_headphones.png" /> Projects </h3></div>
	
		<blockquote> 
		<p>
			Projects allow you to find people to collaborate with, ask people to remix your tracks, host remix challenges
		</p>
		</blockquote> 
		</div>
		
		<div style="float:left;width:280px;text-align:center;margin-left:15px;">
		<div style="border: 1px black solid;background-color: #808000;color:white">
			<h3><img src="http://127.0.0.1:3000/assets/glyphicons_017_music.png" /> Banks </h3></div>
		<blockquote> 
		<p>
			Banks can be created that allow you to upload and share loops, samples, and sounds created in your soft synths, DAW, and 
			various music software.
		</p>
		</blockquote> 
		</div>
		
		<div style="float:left;width:280px;text-align:center;margin-left:15px;">
		
		<div style="border: 1px black solid;background-color: grey;color:black">
			<h3><img src="http://127.0.0.1:3000/assets/glyphicons_024_parents.png" /> Lusers </h3></div>
		<blockquote> 
		<p>
			When you sign up you be come LILO user (Luser) for short, don't worry here it is cool to be Luser.
		</p>
		</blockquote> 
		</div>
	</div>
</div>