<% content_for :profile do %>
  <div>
  	<img src="http://127.0.0.1:3000/assets/profile_default.png" />
  </div>
  <h4><%= @user %></h4>
  <br />
<% end %>
<% content_for :title do %>
<%= @user %>
<% end %>
<div class="page">
	<ul class="nav nav-tabs">
		<li id="tab_bank" class="active">
		    <a href="/<%= @user %>"><i class="icon-info-sign"></i> Info</a>
		</li>
		<li id="tab_browse">
			<a href="/<%= @user %>/banks/browse"><i class="icon-fire"></i> Activity</a>
		</li>
	</ul>
	
	<h3><a href="">Projects:</a> 0 <a href="">Banks:</a> 0 Followers: 0 Following: 0</h3> 
	<div>
	<div style="float:left;width:250px;">
		About:
		<ul>
			<li>
				Location:<br />
				Netherlands, Rotterdam
			</li>
			<li>
				Blurb:<br />
				Als senior developer werk je op ons hoofdkantoor in Rotterdam, waar je in een dynamisch team van 5 zeer ervaren 
				senior ontwikkelaars plaatsneemt. VONQ bestaat als organisatie in geheel uit circa 30 medewerkers. 
			</li>
		</ul>
	</div>
	<div style="float:left;width:250px;">
		Gear and Wares:
		<ul>
			<li>Mac Book Pro</li>
			<li>Nord Lead</li>
			<li>Ableton</li>
		</ul>
		<a href="">See Battle Station</a>
	</div>
	<div style="float:left;width:250px;">
		Followers:
		<div>
			
		</div>
		Following:
		<div>
			
		</div>
	</div>
	</div>
</div>
