<ul style="list-style:none;padding:0px;margin:0px;">
 <% @members.each do |m| %>
 <li>
	<a href="#"><img src="http://127.0.0.1:3000/assets/glyphicons_003_user.png"></a> <%= m.name %>
 </li>
 <% end %>
</ul>