<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<br />
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user } %>

<% @projects.each do |project| %>
<div>
	<h4><%= link_to("/" + project.name, project_path(@user, project)) %></h4>
	<%= project.description %>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_project").addClass('active');
});
</script>
