<% content_for :profile do %>
  <%= render :partial => "layouts/profile", :locals => { :user => @user } %>
<br />
<% end %>
<div class="page">
<%= render :partial => "navigation", :locals => { :user => @user } %>

<% @luser_projects.each do |lproject| %>
<div>
	<h4><%= link_to(lproject.luser.name + "/" + lproject.project.name, project_path(@user, lproject.project)) %></h4>
	<%= lproject.project.description %>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
	$("#tab_project").addClass('active');
});
</script>
