<div class="page">
<ul class="nav nav-tabs">
	<li class="active">
	    <a href="/sound_files">All</a>
	</li>
	<li><a href="/banks">Banks</a></li>
</ul>
<div>
<%= render 'layouts/small_player' %>
</div>
<%= link_to 'New Sound', new_sound_file_path, :class => ['btn', 'btn-mini'] %>
<%= render :partial => "banks/list_files", :locals => { :sound_files => @sound_files } %>

</div>
<div style="padding:10px;">
	
</div>
</div>
<script type="text/javascript">
$(".icon-stop").hide();
function playFile(url)
{
	$(".icon-stop").show();
	$(".icon-play").hide();
	//$(document).ready(function(){
	$("#jquery_jplayer_1").jPlayer( "destroy" );
	$("#jquery_jplayer_1").jPlayer({
        ready: function () {
		  alert(url);
          $(this).jPlayer("setMedia", {
            mp3: "http://127.0.0.1:3000/" + url
          }).jPlayer("play");
        },
		supplied: "mp3"
     });	 
	//});
}
function stopFile()
{
	$("#jquery_jplayer_1").jPlayer( "stop" );
	$(".icon-stop").hide();
	$(".icon-play").show();
}
</script>


