<h1>Listing project_scores</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_scores.each do |project_score| %>
  <tr>
    <td><%= link_to 'Show', project_score %></td>
    <td><%= link_to 'Edit', edit_project_score_path(project_score) %></td>
    <td><%= link_to 'Destroy', project_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project score', new_project_score_path %>
