<ul class="nav" style="padding: 5px;">
    <li>
	<table style="border: 1px white solid;">
		<tr style="padding: 10px;border: 1px white solid;">
			<td style="border: 1px white solid;padding: 5px;width: 50px;background-color: grey;color:black">LOOP.IN</td>
			<td style="border: 1px white solid;padding: 5px;width: 200px;background-color: #808000;color:white">LOOP.OUT</td>
		</tr>
	</table>
    </li>
</ul>
<ul class="nav nav-pills pull-right">
  <li>
	<a href="#">Notifications</a>
  </li>
  <li>
    <a href="#"><img src="assets/glyphicons_003_user.png"></a>
  </li>
</ul>