<div>
  	<a href="/<%= @user_name %>">
		<img src="http://127.0.0.1:3000/assets/profile_default.png" />
	</a>
</div>
<h4><%= @user_name %></h4>
<button class="btn btn-mini btn-primary" type="button">Follow</button>
<br />