<script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: ""
          });
        },
        supplied: "mp3"
      });
    });

	function play()
	{
		$("#jquery_jplayer_1").jPlayer("play");
	}
	
	function stop()
	{
		$("#jquery_jplayer_1").jPlayer("stop");
	}
	
	function pause()
	{
		$("#jquery_jplayer_1").jPlayer("pause");
	}
	
	function playFile(url, wave, title)
	{
		$("#title").html(title)
		$("#wave").attr('style', "background:url('http://127.0.0.1:3000" + wave + "') 0 0 no-repeat;")
		$("#jquery_jplayer_1").jPlayer( "stop" );
		$("#jquery_jplayer_1").jPlayer( "destroy" );
		$("#jquery_jplayer_1").jPlayer({
	        ready: function () {
			  //alert(url);
	          $(this).jPlayer("setMedia", {
	            mp3: "http://127.0.0.1:3000/" + url
	          }).jPlayer("play");
	        },
			supplied: "mp3"
	     });	 
		//});
	}
</script>
<div class="player" style="width:760;">
	<div class="controls" style="width: 15px; height: 62px; float: left; text-align: center; vertical-align: middle; border: 1px solid black; background-color: #fff;">
		<a href="#" onclick="play();"><i class="icon-play"></i></a>
		<a href="#" onclick="stop();"><i class="icon-stop"></i></a>
		<a href="#" onclick="pause();"><i class="icon-pause"></i></a>		
	</div>
	
	<div style="float: left;">
    	<div id="jquery_jplayer_1" class="jp-jplayer" style="height:50px;width:740px;">
    	</div>

  		<div id="jp_container_1" class="jp-audio">
    		<div class="jp-type-single" style="height:50px;width:740px;">
      			<div class="jp-gui jp-interface" id="wave" style="height:50px;width:740px;">  	
        			<div class="jp-progress" style="opacity: 0.8;width:740px;">
          				<div class="jp-seek-bar">
            				<div class="jp-play-bar">
            				</div>
          				</div>
        			</div>
        			<div class="jp-time-holder">
          				<div class="jp-current-time">
          				</div>
          				<div class="jp-duration">
          				</div>
        			</div>
      			</div>
      			<div class="jp-title">
	    			<div id="title">
					No file loaded
					</div>
      			</div>
			</div>
		 </div>
		
    </div>
	<br style="clear: both;" />
</div>
